<div class="product-details" *ngIf="product">
  <!-- Left: Product Images -->
  <div class="product-gallery">
    <img [src]="selectedImage" alt="Main Product" class="main-image" />

    <div class="thumbnail-row">
      <img *ngFor="let img of product.images" [src]="'assets/prod-images/' + img" alt="Product Thumbnail"
        (click)="selectedImage = 'assets/prod-images/' + img"
        [class.active-thumb]="selectedImage === 'assets/prod-images/' + img" />

      <!-- <img [src]="'assets/prod-images/'+ product.images[0]" alt="Thumbnail 1" />
      <img [src]="'assets/prod-images/'+ product.images[1]" alt="Thumbnail 2" />
      <img [src]="'assets/prod-images/'+ product.images[2]" alt="Thumbnail 3" />
      <img [src]="'assets/prod-images/'+ product.images[3]" alt="Thumbnail 4" /> -->
    </div>
  </div>

  <!-- Right: Product Info -->
  <div class="product-info">
    <h2>{{ product.name }}</h2>
    <p class="price">₹{{ product.price }}</p>

    <div class="quantity">
      <label for="qty">Quantity:</label>
      <input type="number" id="qty" name="qty" min="1" [(ngModel)]="quantity" />
    </div>

    <div class="action-buttons">
      <button class="btn add-cart" (click)="addToCart()">Add to Cart</button>
      <button class="btn buy-now">Buy Now</button>
    </div>

    <div class="description">
      <h3>Product Description</h3>
      <ul>
        <li>✅ Anti-Tarnish Jewellery</li>
        <li>💧 Water & Soap Resistant</li>
        <li>✨ Long-Lasting Shine</li>
        <li>🌸 Premium Quality Finish</li>
      </ul>
      <p class="note">
        Each Amavya piece is crafted to maintain its luster and beauty for
        years. Handle with care and store in a dry place when not in use.
      </p>
    </div>
  </div>
</div>


<!-- If product is not found -->
<div *ngIf="!product">
  <p>Product not found.</p>
</div>