<header class="header">
  <div class="logo">
    <img src="assets/amavya-logo.png" alt="Amavya Logo" />
    <h1>AMAVYA</h1>
  </div>
  <nav class="menu">
    <a href="#">Home</a>
    <a href="#products">Shop</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
   <!--  <a routerLink="/cart" class="cart-link">
      🛒 Cart
    </a> -->
    <a routerLink="/cart" class="cart-icon">
      🛒
      <span class="cart-badge" *ngIf="cartCount > 0">{{ cartCount }}</span>
    </a>

  </nav>
</header>

<main class="main-content">
  <router-outlet></router-outlet>
</main>

<footer>
  <p>© 2025 Amavya. All rights reserved.</p>
</footer>