<section class="hero">
  <div class="hero-content">
    <h2>Adorn Your Aura</h2>
    <p>Premium Anti-Tarnish Jewellery, Crafted for Everyday Elegance.</p>
    <a href="#products" class="btn">Explore Collection</a>
  </div>
</section>

<section class="categories">
  <h3>Shop by Category</h3>
  <div class="category-list">
    <button class="category active">All</button>
    <button class="category">Necklaces</button>
    <button class="category">Earrings</button>
    <button class="category">Bracelets</button>
    <button class="category">Bangles</button>
  </div>
</section>

<section id="products" class="product-section">
  <div class="product-container">
    <div class="product-card" *ngFor="let product of products; let i=index" [attr.data-category]="product.category"
      [routerLink]="['/product', product.id]">
      <img [src]="'assets/prod-images/'+ product.thumbnail" [alt]="product.name" />
      <h4>{{ product.name }}</h4>
      <p class="price">₹{{ product.price }}</p>

      <div class="card-actions">
        <button class="btn add-cart" (click)="addToCart(product)">Add to Cart</button>
        <button class="btn buy-now">Buy Now</button>
      </div>
    </div>
  </div>

</section>