<div class="cart-container">

  <h2 class="cart-title">Your Cart</h2>

  <div class="cart-items">

    <div class="cart-item" *ngFor="let item of cartItems">

      <img class="item-image" [src]="'assets/prod-images/' + item.thumbnail">

      <div class="item-details">
        <h3 class="item-name">{{ item.name }}</h3>
        <p class="item-price">₹{{ item.price }}</p>

        <div class="quantity-box">
          <button class="qty-btn" (click)="decreaseQty(item)">-</button>
          <input type="text" class="qty-input" [value]="item.quantity" readonly />
          <button class="qty-btn" (click)="increaseQty(item)">+</button>
        </div>
      </div>

      <button class="remove-btn" (click)="removeItem(item.id)">✕</button>
    </div>


    <!--  <div class="cart-item">
      <img class="item-image" src="assets/prod-images/prod-1/thumbnail.jpg" alt="Product">

      <div class="item-details">
        <h3 class="item-name">Graceful Gold Bangles</h3>
        <p class="item-price">₹1,599</p>

        <div class="quantity-box">
          <button class="qty-btn">-</button>
          <input type="text" class="qty-input" value="1" />
          <button class="qty-btn">+</button>
        </div>
      </div>

      <button class="remove-btn">✕</button>
    </div> -->

    <!--  <div class="cart-item">
      <img class="item-image" src="assets/prod-images/prod-2/thumbnail.jpg" alt="Product">

      <div class="item-details">
        <h3 class="item-name">Royal Pearl Earrings</h3>
        <p class="item-price">₹899</p>

        <div class="quantity-box">
          <button class="qty-btn">-</button>
          <input type="text" class="qty-input" value="1" />
          <button class="qty-btn">+</button>
        </div>
      </div>

      <button class="remove-btn">✕</button>
    </div> -->

  </div>

  <!-- Cart Summary -->
  <div class="cart-summary">
    <div class="summary-row">
      <span>Subtotal</span>
      <span>₹{{ total }}</span>
    </div>

    <div class="summary-row">
      <span>Shipping</span>
      <span>₹0 (Free)</span>
    </div>

    <div class="summary-row total">
      <span>Total</span>
      <span>₹{{ total }}</span>
    </div>

    <button class="checkout-btn">Proceed to Checkout</button>
  </div>

</div>